doctype html
html(lang='en')

	include lipsum
	include ../elements/head


	body
		header
			.container
				.row
					.col-xs-6.col-md-6.col-lg-7
						.branding
							a(href="").branding__logo
								img(src="images/logo.png")
							.branding__slogan.hidden-xs.hidden-sm
								| Лучшие компрессоры
								br
								| и генераторы в Хабаровске
					.col-xs-6.col-md-3.col-lg-3
						.phone +7 (4212) 94-00-34
					.col-md-3.col-lg-2.hidden-xs.hidden-sm
						a(href="").checkout-link Оформить заказ
		.navigation
			.container
				.row
					.col-md-9
						button.navigation__hamburger
							span.icon-bar
							span.icon-bar
							span.icon-bar

						ul
							li.navigation__item.active
								a(href="")
									span Главная
							li.navigation__item
								a(href="")
									span О компании
							li.navigation__item.navigation__item--submenu
								a(href="")
									span Каталог
								ul
									li.navigation__submenu-item
										a(href="") Водоподготовка
									li.navigation__submenu-item
										a(href="") Строительное оборудование
									li.navigation__submenu-item
										a(href="") Дизельные генераторы
							li.navigation__item
								a(href="")
									span Запчасти
							li.navigation__item
								a(href="")
									span Аренда
							li.navigation__item
								a(href="")
									span Новости
							li.navigation__item
								a(href="")
									span Контакты
					.col-md-3
						form.search
							input(type="text" placeholder="Поиск по сайту").search__input
							a(href="").search__button
								i.fa.fa-search

		block content

		footer
			.footer-info
				.container
					.row
						.col-md-4
							.footer-info__mail
								.description E-mail:
								.mail
									a(href="") complex-tech@mail.ru
									br
									a(href="") complextech@complextech.ru
						.col-md-4.hidden-xs.hidden-sm
							.footer-info__branding
								.name ООО "Комплекс технологой"
								.address г. Хабаровск, 2005-2015

						.col-md-4
							.footer-info__phones
								.description
									| Тел:
									br
									| Факс:
								.phones
									| +7 (4212) 94-00-34
									br
									| +7 (4212) 55-08-88

			.footer-nav
				.container
					.row
						.col-xs-12.col-md-8
							ul
								li.footer-nav__item.active
									a(href="")
										span Главная
								li.footer-nav__item
									a(href="")
										span О компании
								li.footer-nav__item
									a(href="")
										span Каталог
								li.footer-nav__item
									a(href="")
										span Запчасти
								li.footer-nav__item
									a(href="")
										span Аренда
								li.footer-nav__item
									a(href="")
										span Новости
								li.footer-nav__item
									a(href="")
										span Контакты
						.col-xs-12.col-md-4
							.footer-nav__dev Разработано в студии <a href="">Webpro</a>
							.to-top
								i.fa.fa-chevron-up

	include ../elements/scripts
