extends base/base

block breadcrumbs

block content
	.container
		.gratitude
			img(src="images/gratitude.jpg").gratitude__image
			.gratitude__text
				.title Заявка&nbsp;оформлена!
				.description Спасибо, ваша заявка оформлена.<br />Наши специалисты свяжутся с вами.
				a(href="").button Вернуться к товарам
