extends base/base

block content
	.container
		.slider
			.slider__item
				img(src="http://dummyimage.com/1140x335/00ff00/fff")
				a(href="")
					+lipsum(Math.floor(Math.random() * 5) + 2, "words")
			.slider__item
				img(src="http://dummyimage.com/1140x335/ff0000/fff")
				a(href="")
					+lipsum(Math.floor(Math.random() * 5) + 2, "words")
			.slider__item
				img(src="http://dummyimage.com/1140x335/0000ff/fff")
				a(href="")
					+lipsum(Math.floor(Math.random() * 5) + 2, "words")
			.slider__nav.slider__nav--prev
				i.fa.fa-chevron-left
			.slider__nav.slider__nav--next
				i.fa.fa-chevron-right

	.production.container
		.row
			.col-xs-12
				h2.title.title__h2 Наша продукция
				a(href="").production__all-goods Все товары
		.row.inline-container
			mixin production()
				.production__info
					a(href="")
						img(src="images/production__item.jpg")
						.text
							+lipsum(Math.floor(Math.random() * 3 + 1), "words")
			.inline-col
				.production__catalog
					a(href="")
						+lipsum(2, "words")
					br
					a(href="")
						+lipsum(2, "words")
					a(href="")
						+lipsum(2, "words")
					a(href="")
						+lipsum(2, "words")
					a(href="")
						+lipsum(2, "words")
					.corners.corners--top
					.corners.corners--bottom

			.inline-col
				+production()
			.inline-col
				+production()
			.inline-col
				+production()
			.inline-col
				+production()

	.partners.container
		.row
			.col-xs-12.text-center
				h2.title.title__h2.title__h2--center Наши партнеры
		.row.partners__wrapper
			mixin partners()
				.col-xs-6.col-sm-4.col-md-2
					.partners__item
						img(src="images/partner__logo.png")
			-for(var i = 0; i < 12; i++){
				+partners()
			-}
			.partners__info
				.text Запасные части для различного оборудования всех марок и моделей
				a(href).link Заказать запчасть

	.clients.container
		.row
			.col-cs-12.text-center
				h2.title.title__h2.title__h2--center Наши клиенты
			mixin client()
				.col-xs-6.col-sm-4.col-md-4.col-lg-2
					a(href="").clients__item
						img(src="images/client__logo.png")
			+client()
			+client()
			+client()
			+client()
			+client()
			+client()

	.wrapper.wrapper--gray
		.container
			.row
				.col-xs-12.col-md-6.col-md-push-6.block-news
					h2.title.title__h2 Новости
					a(href="").block-news__all-news Все новости
					mixin news()
						.block-news__item.clearfix
							img(src="http://dummyimage.com/68x68/444444/ffffff")
							.data
								i.fa.fa-clock-o
								| 27.09.2015
							a(href="").text
								+lipsum (10, "words")


					+news()
					+news()
					+news()
				.col-xs-12.col-md-5.col-md-pull-6.block-about
					h2.title.title__h2 О нашей компании
					p Компания ООО «Комплекс технологий» была основана в 2010 году. Основным направлением деятельности компании является поставка импортной дорожно-строительной и строительной техники, запасных частей и расходных материалов из Китая, Испании, Швеции.
					p Вся дорожно-строительная техника, поставляемая нами, отличается высоким качеством, надежностью и пользуется особой популярностью. 