a(href="index.html") Главная
br
a(href="catalog.html") Каталог
br
a(href="innercatalog.html") Каталог внутренняя
br
a(href="product.html") Продукт
br
a(href="contacts.html") Контакты
br
a(href="partners.html") Партнеры
br
a(href="news.html") Новости
br