.block-news
	position relative
	&__all-news
		displa block
		position absolute
		top 45px
		right 15px
		font-size 16px
		text-decoration none
		color #1d212b
		border-bottom 1px dashed currentColor
		transition 350ms
		&:hover
			text-decoration none
			color $brand-primary
			border-color currentColor
		@media screen and (min-width: $screen-sm)
			font-size 18px
		@media screen and (min-width: $screen-md)
			font-size 20px
	&__item
		width 100%
		img
			float left
			margin-right 30px
			margin-bottom 40px
			border-radius 4px
		.data
			color $brand-primary
		.fa
			color $gray
			transform scaleX(-1)
			margin-right 1em
		.text
			color $black
			font-size 18px
