.block-news
	position relative
	&__all-news
		displa block
		position absolute
		top 45px
		right 0
		font-size 20px
		text-decoration none
		border-bottom 1px dashed $brand-primary
		&:hover
			text-decoration none
	&__item
		width 100%
		img
			float left
			margin-right 30px
			margin-bottom 40px
		.data
			color $brand-primary
		.fa
			color $gray
			transform scaleX(-1)
			margin-right 1em
		.text
			color $black
			font-size 18px
