.branding
	height 80px
	padding 20px 0
	&__logo
		display block
		float left
		width 218px
		padding-left 15px
	&__slogan
		color $gray-light
		float left
		border-left 1px solid currentColor
		padding-left 20px
