.branding
	height 80px
	padding 20px 0
	&__logo
		display block
		float left
		width 218px
		padding-left 15px
		max-width 100%
		img
			max-width 100%
		@media screen and (max-width: $screen-sm-max)
			float right
			img
				float right
	&__slogan
		color $gray-light
		float left
		border-left 1px solid currentColor
		padding-left 20px
