.breadcrumbs
	border-bottom 1px solid $gray-lighter
	padding 15px 0
	font-size 12px
	&__link
		display inline-block
		color #9f9fa3
	&__separator
		display inline-block
		color #e8e8e8
		font-size 0.5em
		margin 0 10px
		position relative
		top -2px
	&__current
		display inline-block
		color #393943