.checkout-link
	display block
	margin-top 25px
	width 100%
	height 30px
	padding 3px 6px 3px 32px
	border 2px solid $brand-primary
	border-radius 4px
	position relative
	@media screen and (min-width: $screen-md) and (max-width: $screen-md-max)
		width 165px
		float right
	&:hover
		text-decoration none
	&:before
		content "\f040"
		font-family FontAwesome
		display block
		position absolute
		left -2px
		top -2px
		width 30px
		height 30px
		border-radius 4px 0 0 4px
		background $brand-primary
		color $white
		padding 5px 10px