// Reset
ul
	margin 0
	padding 0

// Header
@media screen and (max-width: $screen-sm-max)
	header
		background #21252a

// flex grid
.inline-container
	display flex
	flex-wrap wrap
	justify-content center
.inline-col
	flex 0 0 auto
	width 270px
	padding-left 15px
	padding-right 15px
	@media screen and (min-width: $screen-sm)
		width 50%
	@media screen and (min-width: $screen-md)
		width 33.333%
	@media screen and (min-width: $screen-lg)
		width 25%
