// Reset
a:focus
	outline none
ul
	margin 0
	padding 0

// Sticky flex footer
html
body
	display flex
	flex-direction column
	min-height 100%

body
	flex 1 1 auto
	position relative

header
.navigation
footer
	flex 0 0 auto
.content
	flex 1 0 auto

// Header
@media screen and (max-width: $screen-sm-max)
	header
		background #21252a

// flex grid
.inline-container
	display flex
	flex-wrap wrap
	justify-content center
.inline-col
	flex 0 0 auto
	width 270px
	padding-left 15px
	padding-right 15px
	@media screen and (min-width: $screen-sm)
		width 50%
	@media screen and (min-width: $screen-md)
		width 33.333%
	@media screen and (min-width: $screen-lg)
		width 25%

// Wrappers
.wrapper
	&--gray
		background #f5f5f5

// To top button
.to-top
	display block
	width 36px
	height 36px
	background $brand-primary
	color $white
	border-radius 4px
	text-align center
	padding-top 5px
	font-size 1.2em
	position absolute
	right 0
	top -6px
	cursor pointer
	@media screen and (max-width: $screen-sm-max)
		display none

// Pagination
.pagination
	margin 20px 0 40px
	display table
	clear both
 	> li
		> a
		> span
			border-color #e5e5e5
			&:hover
				background-color #f2f2f2
		&:not(:first-child):not(:last-child):not(.active)
			> a
			> span
				color #000
		&.active
			> a
			> span
				color $white
				background $brand-pimary
				border-color #e5e5e5