.data
	display inline-block
	padding-left 20px
	color $brand-primary
	position relative
	margin-bottom 10px
	&:before
		content "\f017"
		display block
		position absolute
		font-family FontAwesome
		color #999
		left 0