.employee
	background #f5f5f5
	padding 16px
	border-radius 4px
	margin-bottom 20px

	&__image
		float left
		img
			display block
			border-radius 50%
	&__text
		margin-left 82px
		.position
			font-size 14px
			color $brand-primary
			margin-bottom 8px
		.name
			font-size 12px
			color #1d212b
			margin-bottom 8px
		.contact-info
			font-size 12px
			color #4f4f4f
			a
				color #4f4f4f

