.footer-info
	background #1e2227
	color $white
	padding 50px 0
	font-size 17px
	line-height 24px

	&__mail
		.description
			float left
			height 2em
			margin-right 2em
			font-weight bold
		.mail a
			color $white

	&__branding
		text-align center
		font-weight bold
		.name
			font-size 24px
			line-height 24px

	&__phones
		.description
			float left
			margin-left 7em
			font-weight bold
		.phones
			text-align right


.footer-nav
	background #14171a
	color $white
	padding 20px 0

	&__item
		display block
		float left
		margin-right 30px
		font-size 14px
		a
			color $white
			&:hover
			&:focus
				color $brand-primary