.navigation
	border-color $gray-lighter
	border-style solid
	border-width 1px 0
	@media screen and (max-width: $screen-sm-max)
		border none
	&__hamburger

		cursor pointer
		display table
		margin-left auto
		margin-right auto
		border none
		background transparent
		position absolute
		left 0
		top 0
		padding 14px 13px
		width 50px
		height 50px
		z-index 10
		span
			display block
			width 25px
			height 2px
			background $black
			border-radius 1px
			&:not(:last-child)
				margin-bottom 7px
		&.expanded
			background $brand-primary
			span
				background $white
		@media screen and (min-width: $screen-md)
			display none

	@media screen and (max-width: $screen-sm-max)
		ul
			display none
			position absolute
			top 50px
			width 254px
			left 0
			z-index 100
			background #21252a
			padding 20px 0
		&__item
			display block
			font-weight bold
			> a
				padding 10px 30px
				display block
				color $white
				width 100%
				text-decoration none
			&--submenu
				ul
					display none
					position static
					width 100%
					padding 0 0 0 30px
				> a
					position relative
					&:after
						display block
						content "\f078"
						font-family FontAwesome
						font-size 0.7em
						position absolute
						left 100px
						top 13px
				&.expanded
					background #1c1d20
					> a
						color $brand-primary
		&__submenu-item
			display block
			font-size 0.8em
			> a
				display block
				color $white
				padding 8px 15px 8px 20px
				text-decoration none


	@media screen and (min-width: $screen-md)
		> ul
			height 48px
		&__item
			display block
			float left
			a
				display block
				color $black
				font-weight 600
				padding 0 15px
				span
					display inline-block
					padding 13px 0
					border-bottom 2px solid transparent
					transition border-color 350ms
				&:focus
					outline none
			&:first-child
				a
					padding 0 15px 0 0
			&:last-child
				a
					padding 0 0 0 15px

			&.active
			&:hover
				a span
					border-bottom-color $brand-primary

			&--submenu
				position relative
				> a
					padding-right 25px
					position relative
					&:after
						display block
						content "\f078"
						font-family FontAwesome
						font-size 0.7em
						position absolute
						right 8px
						top 15px
				ul
					display none
					position absolute
					z-index 1000
					background $white
					top 100%
					left 25px
					border-left 1px solid $gray-lighter
					border-right 1px solid $gray-lighter
					border-bottom 2px solid $brand-primary
					padding 12px 0
					min-width 160px
					li
						display block
					a
						display block
						padding 4px 10px
						font-weight normal
						text-decoration none
						color #919191
						transition color 350ms
						&:hover
							color #303030
				&:hover
					ul
						display block

	@media screen and (min-width: $screen-lg)
		&__item
			a
				padding 0 25px
			&:first-child
				a
					padding 0 25px 0 0
			&:last-child
				a
					padding 0 0 0 25px
			&--submeny
				> a
					padding-right 35px
