.partners
	margin-left -5px
	margin-right -5px
	&__item
		float left
		background #f5f5f5
		width 50%
		height 95px
		border 5px solid $white
		position relative
		img
			filter grayscale(1)
			opacity 0.25
			transition-property filter, opacity
			transition-duration 350ms
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
		&:hover
		&:focus
			img
				filter grayscale(0)
				opacity 1
		@media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max)
			width (100% / 3)
			height 95px
		@media screen and (min-width: $screen-md) and (max-width: $screen-md-max)
			width 25%
			height 95px
		@media screen and (min-width: $screen-lg)
			width 20%
			height 95px
