.search
	border-left 1px solid $gray-lighter
	height 48px
	position relative
	@media screen and (max-width: $screen-sm-max)
		margin-left 35px

	&__input
		height 100%
		width 100%
		padding 6px 20px 6px 20px
		border none

	&__button
		position absolute
		top 0
		right 0
		height 100%
		width 20px
		padding 12px 5px
		color $black