.title
	&__h2
		position relative
		margin-top 45px
		margin-bottom 55px
		padding-left 20px
		&:before
			display block
			position absolute
			content ""
			width 9px
			height 9px
			border-radius 50%
			background $brand-primary
			top 14px
			left 0
		&--center
			display inline-block
			text-align center
