//@import "../../bootstrap/normalize"

body
	width 20cm
	margin 3cm 0

table
	width 100%

.offer
	&__header
		padding 20px 0 10px
		border-bottom 1px solid #e5e5e5
		position fixed
		top 0
		left 0
		right 0

	&__images
		border-collapse separate
		border-spacing 10px
		padding 10px
		td
			border 1px solid #e5e5e5
			width 25%
		img
			width 4.2cm
			height auto


	&__table
		width 100%
		border-spacing 4px
		border-collapse separate
		td
			padding 12px 20px
			background #f2f2f2
			border-radius 4px
			&:first-child
				color #7d7d7d
				font-style italic

	&__footer
		padding 20px 0 10px
		border-top 1px solid #e5e5e5
		position fixed
		left 0
		right 0
		bottom 0
		height 2cm

.offer-header
	&__logo
		width 20%

	&__contacts
		padding 0 10px
		line-height 1.4
		position relative
		white-space nowrap
		img
			width 30px
			height 30px
		.offer-phone
			font-weight bold
		.text
		.offer-phone
			text-align center
	&__address
		color #393939
		font-size 0.9em
		white-space nowrap

.offer-footer
	&__logo
		width 50%
	&__contacts
		.footer-phone
			font-size 1.2em
			font-weight bold




.title
	&__circle
		width 10px
		height 10px
		border-radius 5px
		background #ff3c00